<!doctype html>

<html>
  <head>
    <link rel="stylesheet" href="lib/style.css">
    
  </head>

  <body>
   <h1>Video Game Consoles (collected and not collected)</h1>
   <div id="app">
    <div class="collectionWrapper">
            <div class="collectionRow header">
                    <div class="cell console-manufactuer">Manufactuer</div>
                    <div class="cell console-name">Console Name</div>
                    <div class="cell release-date">Console Release Date</div>
                    <div class="cell console-image">Image</div>
                    <div class="cell collected">Part of the collection</div>
                    <div class="cell actions">
                      Actions
                    </div>
                </div>
        <div class="collectionRow" v-for="(console, index) in consoles" v-bind:class="{odd: index % 2 !== 0, owned: console.collected}">
            <div class="cell console-manufactuer">{{console.manufactuer}}</div>
            <div class="cell console-name">{{console.name}}</div>
            <div class="cell release-date">{{console.releaseDate}}</div>
            <div class="cell console-image"><img :src="console.image" :alt="console.name" /></div>
            <div class="cell collected">{{console.collected}}</div>
            <div class="cell actions">
              <button type="button" v-on:click="deleteItem(console)">Delete</button>
            </div>
        </div>
    </div>
    <form v-on:submit.prevent="submitHandler" class="new-console-form">
      <fildset>
        <legend>Add a console to the collection</legend>
        <div>
          <label for="manufactuer">Manufactuer</label>
          <Input id="manufactuer" type="text" v-model="newConsoleObj.manufactuer">
          </div>
          <div>
            <label for="name">Console Name</label>
            <Input id="name" type="text" v-model="newConsoleObj.name">
            </div>
            <div>
              <label for="release-date">Release Date</label>
              <Input id="release-date" type="date" v-model="newConsoleObj.releaseDate">
              </div>
              <div>
                <label for="image">Image</label>
                <Input id="image" type="text" v-model="newConsoleObj.image">
                </div>
                <div>
                  <label for="image">Owned</label>
                  <Input id="image" type="checkbox" v-model="newConsoleObj.collected">
                  </div>
                  <button type="submit">Submit</button>
      </fildset>
    </form>
   </div>
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script src="lib/script.js"></script>
  </body>
</html>
